.todo-container{
  width: 80vw;
  min-height: 1200px;
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
}

.todo-title {
  font-size: 1.5rem;
}
