.problem-cell{
  list-style-type: none; 
  margin: 0;             
  padding: 0;            
  border: 0;             
  background: none;      
  font-size: 100%;      
  vertical-align: baseline;
}

